---
import { getQuotePath, type QuoteRecord } from "../lib/quotes";

import QuoteMeta from "./QuoteMeta.astro";

type Props = {
  quote: QuoteRecord;
};

const { quote }: Props = Astro.props;
---

<article class="quote-item">
  <a class="quote-link" href={getQuotePath(quote.slug)}>
    <blockquote class="quote-body">
      <p>{quote.body}</p>
    </blockquote>
    <span class="quote-link-label" aria-hidden="true">View quote</span>
  </a>

  <QuoteMeta
    time={quote.time}
    renderedTime={quote.renderedTime}
    speaker={quote.speaker}
    source={quote.source}
    tags={quote.tags}
  />
</article>
